[Unit]
Description=web App
After=cloud-init.service
Wants=cloud-init.service

[Service]
Type=simple
User=csye6225
ExecStart=/usr/bin/node /home/admin/server.js
WorkingDirectory=/home/admin
Restart=on-failure
RestartSec=5s

Group=csye6225
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
